/*
      MAIN MIXIN
      Handcrafted By WhiteCube.
      ---------------------------

      Shapes, positions and sets a rotation to pseudo-element
      in order to make a leaning border (with a background-image
      if you want to).
      The anchor point will be positionned exactly where you
      want it, even if the pseudo-element's anchor point is
      outside the parent-element.
      Use this mixin along with your other styling rules inside
      your pseudo-element in order to make something beautiful.

      -----

      @include kaduk( $position, $degrees, $width )

      $position: string ('bottom-right'|'bottom-left'|'top-right'|'top-left');
      $degrees: int (with 'deg' unit)
      $width: int (with css width unit. Width of pseudo-element)

      -----

      # EXAMPLE - TEST IT
      ---------------------------
      In order to truly understand what this does,
      test this code.

      ## HTML
      -------

      <div class="kaduk-test"><p>Some content</p></div>

      ## SCSS
      -------

      .kaduk-test{
            position: relative;
            width: 400px;
            height: 200px;
            background: #000;
            &:before{
                  @include kaduk('bottom-right', -3.5deg, 200%);
                  background: rgba(#c8c8c8, 0.8);
            }
      }


      # FUNCTIONS
      ---------------------------
*/
/*
      # MIXINS
      ---------------------------
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:focus {
    outline: 0; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

.setup {
  background-color: #171F22;
  color: #DFE0D6;
  height: 100vh;
  width: 100%; }

.view {
  display: none; }

#app .view {
  display: block; }

.container {
  height: 100vh;
  display: none; }
  .container.showing {
    display: block !important; }

body.app {
  background-color: #f3f3f3;
  color: #171F22; }

h1 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px; }

h1.page-title {
  text-align: left; }

h2 {
  font-weight: 300;
  font-size: 18px;
  color: #E75F3E;
  text-align: center;
  margin-bottom: 25px; }

h3 {
  font-weight: 400;
  font-size: 16px; }

a {
  text-decoration: none;
  display: block;
  color: #DFE0D6;
  font-size: 12px;
  padding: 2px 0;
  margin: 5px 0; }

.fade-transition {
  transition: all .2s ease; }

.fade-enter, .fade-leave {
  opacity: 0; }

#view-connect .content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

#view-signup .content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

#view-jointeam {
  height: 100vh; }
  #view-jointeam .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  #view-jointeam form {
    display: inline-block;
    margin: 30px 80px; }
  #view-jointeam .pending {
    margin-top: 30px;
    text-align: center; }

#view-searchteam .content {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 100px; }

#view-signin .container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

#view-signin form {
  margin: auto; }

#view-projectdashboard.container {
  margin-top: 60px;
  padding: 25px;
  position: relative; }

#view-projectdashboard .task-items__section {
  position: relative; }

#view-projectdashboard .task-items {
  display: flex;
  justify-content: space-between;
  align-items: stretch; }

#view-projectdashboard #todo-column__items,
#view-projectdashboard #progress-column__items,
#view-projectdashboard #finished-column__items {
  position: absolute;
  top: 35px;
  bottom: 0;
  left: 0;
  right: 0; }

#view-projectmockups.container {
  margin-top: 60px;
  padding: 25px;
  position: relative; }

#view-projectmockups .mockup-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15px; }

#view-projectmockup .container {
  margin-left: 80px;
  margin-top: 60px;
  padding: 25px;
  position: relative; }

#view-projectmockup .header-info {
  position: absolute;
  top: 30px;
  right: 25px; }

#view-projectmockup .mockup {
  padding-top: 25px;
  width: 100%; }

#view-projectmockup .mockup__image {
  max-width: 100%; }

#view-projectchat.container {
  margin-left: 220px;
  margin-top: 60px;
  padding: 25px;
  position: relative; }

#view-projectchat .chatbar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 200px; }

#view-projectchat .input-area {
  position: fixed;
  width: calc(100% - 330px);
  bottom: 50px; }

#view-projectchat .input-area__textfield {
  width: calc(100% - 50px);
  height: 35px;
  position: absolute;
  z-index: 16; }

#view-projectchat .input-area__submit {
  width: 55px;
  right: 0;
  z-index: 15;
  height: 35px;
  position: absolute; }

#view-projecttasks.container {
  margin-top: 60px;
  padding: 25px;
  position: relative; }

#view-projecttasks .task-items__section {
  position: relative; }

#view-projecttasks .task-items {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 74vh; }

#view-projecttasks #todo-column__items,
#view-projecttasks #progress-column__items,
#view-projecttasks #finished-column__items {
  position: absolute;
  top: 35px;
  bottom: 0;
  left: 0;
  right: 0; }

#view-teamprojects .container {
  margin-top: 60px;
  padding: 25px;
  position: relative; }

#view-teamprojects .project-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.chat__message {
  margin-bottom: 20px; }

.chat__message .user__name {
  display: inline-block;
  font-size: 14px;
  font-weight: 600; }

.message__time {
  display: inline-block;
  font-weight: 600;
  font-size: 14px; }
  .message__time::before {
    content: "-";
    margin-right: 5px; }

.message {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 5px; }

.input-area__textfield {
  border: none;
  padding: 10px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px; }

.input-area__submit {
  border: none;
  background-color: #E75F3E;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px; }

.chatbar {
  background-color: #1b262e;
  color: #fff;
  padding: 25px; }

.chatbar__section {
  margin-bottom: 35px;
  position: relative; }

.chatbar__section__title {
  font-size: 14px;
  margin-bottom: 10px; }

.chatbar__section__btn {
  display: inline-block;
  background-color: #28373C;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: -7px;
  right: 0; }

.chat-user {
  margin-bottom: 3px; }

.chat-user .user__name {
  display: inline-block;
  margin-left: 10px; }

.chatroom-items__section-title {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 25px; }

.chatroom-item {
  background-color: #E75F3E;
  display: inline-block;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px; }

form legend {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px; }

form label {
  display: inline-block;
  margin-bottom: 7px;
  font-size: 14px; }

form input[type="text"],
form input[type="email"],
form input[type="submit"],
form input[type="password"],
form input[type="submit"],
form .submit-btn {
  border-radius: 5px;
  display: block;
  border: none;
  width: 100%;
  padding: 11px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px; }

form .submit-btn {
  text-decoration: none;
  margin-top: 35px;
  background-color: #E75F3E;
  text-align: center;
  color: #DFE0D6;
  padding: 12px 0 14px;
  font-size: 14px; }

form a {
  text-align: center; }

a.header-btn {
  background-color: #E75F3E;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 25px;
  display: inline-block;
  width: 200px;
  border-radius: 5px;
  padding: 13px 0 15px;
  text-align: center; }

.mockup-item {
  background-color: #fff;
  border-radius: 5px;
  width: 29%;
  position: relative;
  height: 232px;
  overflow: hidden;
  margin-bottom: 25px; }

.thumbnail-container {
  height: 185px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0; }

.mockup-item__thumbnail {
  width: 100%; }

.mockup-item__comment-count {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #E75F3E;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px; }

.mockup-item__title {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: #171F22; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #0b0c0d;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.6875em;
  z-index: 999999999; }

.team,
.links,
.account {
  position: absolute;
  top: 50%;
  transform: translateY(-65%);
  letter-spacing: 0.12em; }

.team {
  left: 25px; }
  .team__separator {
    vertical-align: middle;
    display: inline-block;
    margin: 0 0.72727em;
    width: 0.45455em;
    height: 0.72727em;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/right-arrow.svg");
    background-size: 100%; }
  .team__project {
    color: #c4ccd0; }

.links {
  left: 280px; }
  .links a {
    display: inline;
    padding: 15px;
    font-size: inherit;
    color: #fff; }

.account {
  right: 25px; }

.account__name {
  display: inline;
  font-size: 12px;
  margin-right: 10px; }

.account__picture {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  vertical-align: text-top; }

.project-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  width: 45%; }

.project-item__name {
  margin-top: 0;
  color: #E75F3E;
  font-size: 16px; }

.project-item__date,
.project-item__deadline {
  font-size: 14px;
  margin: 5px 0; }

.sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 80px;
  padding-top: 25px;
  background-color: #171F22; }

.sidebar__item {
  width: 100%;
  text-align: center;
  height: 80px; }
  .sidebar__item .sidebar__icon {
    display: block;
    margin: 0 auto 10px;
    width: 30px;
    height: 30px; }
  .sidebar__item .dashboard-icon {
    background-color: #E75F3E; }
  .sidebar__item .tasks-icon {
    background-color: #E75F3E; }
  .sidebar__item .mockups-icon {
    background-color: #E75F3E; }
  .sidebar__item .chat-icon {
    background-color: #E75F3E; }

.task-items__section {
  width: 28%;
  padding-top: 15px;
  height: 100%; }

.task-items__section__title {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px; }

.task-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 15px 35px;
  margin: 15px 0;
  font-size: 14px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

.task-item__deadline {
  font-size: 12px; }

.task-item__edit {
  display: inline-block;
  background: url("../img/cog.svg") no-repeat center center;
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.task-item__delete {
  display: inline-block;
  background: url("../img/trash.svg") no-repeat center center;
  position: absolute;
  bottom: 5px;
  left: 30px;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.task-item__assigned-to {
  position: absolute;
  bottom: 10px;
  right: 10px; }
  .task-item__assigned-to .account__picture {
    margin: 0 2px; }

.add-task-btn {
  background-color: #E75F3E;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer; }

.team-search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.team-search-result {
  display: inline-block;
  width: 250px;
  height: 65px;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  position: relative; }
  .team-search-result .info, .team-search-result .join {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 5px; }
  .team-search-result .info {
    background-color: #DFE0D6;
    left: 0;
    padding: 15px;
    right: 53px;
    color: #171F22;
    z-index: 50; }
  .team-search-result .join {
    left: 185px;
    right: 0;
    color: #DFE0D6;
    background-color: #E75F3E; }
    .team-search-result .join a {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      line-height: 60px;
      padding: 0 15px; }

.team-search-result__name {
  font-size: 14px; }

.team-search-result__members {
  font-size: 12px; }

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0; }

.hidden + .popup-overlay {
  display: none; }

.popup,
.deletePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 1; }
  .popup::after,
  .deletePopup::after {
    content: "";
    display: block;
    position: absolute; }
  .popup.hidden,
  .deletePopup.hidden {
    display: none; }

.popup {
  width: 450px;
  height: 515px;
  margin-left: -225px;
  margin-top: -257.5px; }

.deletePopup {
  width: 300px;
  height: 150px;
  margin-left: -150px;
  margin-top: -75px;
  padding: 20px; }

.deletePopup h2 {
  color: #171F22; }

#confirmDelete,
#cancelDelete {
  display: inline-block;
  padding: 12px 15px;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  width: 120px;
  text-align: center;
  cursor: pointer; }

#confirmDelete {
  background-color: #E75F3E;
  left: 20px; }

#cancelDelete {
  background-color: #28373C;
  right: 20px; }

.popup-title {
  font-weight: 400;
  color: #171F22;
  font-size: 16px; }

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  background-image: url("../img/close.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  cursor: pointer; }

.popup-sidebar__title {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  margin: 15px;
  font-weight: 300; }

.popup fieldset {
  border: none; }

.popup-sidebar {
  width: 80px;
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0;
  background-color: #28373C; }

.assign-user__container {
  position: relative; }

.assign-user {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  border: 2px solid transparent;
  transition: border-color .3s ease;
  cursor: pointer; }
  .assign-user::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 10px;
    opacity: 0;
    transition: opacity .2s ease;
    background: url("../img/check.svg"); }

.assign-user__image {
  width: 100%; }

.assign-user__check {
  display: none; }
  .assign-user__check:checked + .assign-user::before {
    opacity: 1;
    transition: opacity .2s ease; }

.form-body {
  margin-left: 80px;
  padding: 20px 40px; }

.form-group {
  position: relative;
  margin-bottom: 20px; }

.form-body__label {
  font-size: 14px;
  -webkit-user-select: none; }

.form-body__input {
  display: block;
  border-radius: 5px;
  border: 1px solid #ddd !important;
  background: #fff;
  font-size: 14px;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 5px 0 10px; }
  .form-body__input[type="checkbox"] {
    display: inline;
    width: auto;
    vertical-align: top; }
  .form-body__input[type="radio"] {
    display: inline;
    width: auto;
    vertical-align: top; }
    .form-body__input[type="radio"] + .form-body__label {
      font-size: 13px;
      margin-left: 3px;
      margin-right: 20px; }

.currentDate {
  display: inline-block;
  position: absolute;
  font-size: 12px;
  right: 0;
  top: 3px; }

#datepicker {
  display: none; }

.submit-container {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: calc(100% - 160px); }

.task-submit {
  display: block;
  border: none;
  background-color: #E75F3E;
  color: #fff;
  border-radius: 5px;
  padding: 12px 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  position: absolute;
  bottom: 0; }

::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 12px; }
