* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:focus {
    outline: 0; }

body {
  font-family: "Montserrat", sans-serif; }

.setup {
  background-color: #171F22;
  color: #DFE0D6;
  height: 100vh;
  width: 100%; }

.view {
  display: none; }

#app .view {
  display: block; }

.container {
  height: 100vh;
  display: none; }
  .container.showing {
    display: block !important; }

body.app {
  background-color: #f3f3f3;
  color: #171F22; }

h1 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px; }

h1.page-title {
  text-align: left; }

h2 {
  font-weight: 300;
  font-size: 18px;
  color: #E75F3E;
  text-align: center;
  margin-bottom: 25px; }

h3 {
  font-weight: 400;
  font-size: 16px; }

a {
  text-decoration: none;
  display: block;
  color: #DFE0D6;
  font-size: 12px;
  padding: 2px 0;
  margin: 5px 0; }

.fade-transition {
  transition: all .2s ease; }

.fade-enter, .fade-leave {
  opacity: 0; }

#view-projectdashboard .container {
  margin-left: 80px;
  margin-top: 60px;
  padding: 25px;
  position: relative; }

#view-tasks .task-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #28373C;
  color: #fff;
  z-index: 999999999; }

.team,
.links,
.account {
  position: absolute;
  top: 50%;
  transform: translateY(-65%); }

.team {
  left: 25px; }

.links {
  left: 250px; }
  .links a {
    display: inline;
    padding: 15px; }

.account {
  right: 25px; }

.account__name {
  display: inline;
  font-size: 12px;
  margin-right: 10px; }

.account__picture {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  vertical-align: text-top; }

.sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 80px;
  padding-top: 25px;
  background-color: #171F22; }

.sidebar__item {
  width: 100%;
  text-align: center;
  height: 80px; }
  .sidebar__item .sidebar__icon {
    display: block;
    margin: 0 auto 10px;
    width: 30px;
    height: 30px; }
  .sidebar__item .dashboard-icon {
    background-color: #E75F3E; }
  .sidebar__item .tasks-icon {
    background-color: #E75F3E; }
  .sidebar__item .mockups-icon {
    background-color: #E75F3E; }
  .sidebar__item .chat-icon {
    background-color: #E75F3E; }

a.header-btn {
  background-color: #E75F3E;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 25px;
  display: inline-block;
  width: 200px;
  border-radius: 5px;
  padding: 13px 0 15px;
  text-align: center; }

.task-items__section {
  width: 28%;
  padding-top: 15px;
  height: 100%; }

.task-items__section__title {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px; }

.task-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 15px 35px;
  margin: 15px 0;
  font-size: 14px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

.task-item__deadline {
  font-size: 12px; }

.task-item__edit {
  display: inline-block;
  background: url("../img/cog.svg") no-repeat center center;
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.task-item__delete {
  display: inline-block;
  background: url("../img/trash.svg") no-repeat center center;
  position: absolute;
  bottom: 5px;
  left: 30px;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.task-item__assigned-to {
  position: absolute;
  bottom: 10px;
  right: 10px; }
  .task-item__assigned-to .account__picture {
    margin: 0 2px; }

.add-task-btn {
  background-color: #E75F3E;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer; }

.chatroom-items__section-title {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 25px; }

.chatroom-item {
  background-color: #E75F3E;
  display: inline-block;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px; }
