* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:focus {
    outline: 0; }

body {
  font-family: "Montserrat", sans-serif; }

.setup {
  background-color: #171F22;
  color: #DFE0D6;
  height: 100vh;
  width: 100%; }

.view {
  display: none; }

#app .view {
  display: block; }

.container {
  height: 100vh;
  display: none; }
  .container.showing {
    display: block !important; }

body.app {
  background-color: #f3f3f3;
  color: #171F22; }

h1 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px; }

h1.page-title {
  text-align: left; }

h2 {
  font-weight: 300;
  font-size: 18px;
  color: #E75F3E;
  text-align: center;
  margin-bottom: 25px; }

h3 {
  font-weight: 400;
  font-size: 16px; }

a {
  text-decoration: none;
  display: block;
  color: #DFE0D6;
  font-size: 12px;
  padding: 2px 0;
  margin: 5px 0; }

#view-searchteam .content {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 100px; }

.team-search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.team-search-result {
  display: inline-block;
  width: 250px;
  height: 65px;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  position: relative; }
  .team-search-result .info, .team-search-result .join {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 5px; }
  .team-search-result .info {
    background-color: #DFE0D6;
    left: 0;
    padding: 15px;
    right: 53px;
    color: #171F22;
    z-index: 50; }
  .team-search-result .join {
    left: 185px;
    right: 0;
    color: #DFE0D6;
    background-color: #E75F3E; }
    .team-search-result .join a {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      line-height: 60px;
      padding: 0 15px; }

.team-search-result__name {
  font-size: 14px; }

.team-search-result__members {
  font-size: 12px; }
