#view-settings
    &.container
        padding-top: 120px

    .overlay
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        z-index: -5

    .panel
        margin-left: 200px

        .form-body
            margin-left: 0
            padding: 0
            margin-bottom: 15px

        &__title
            display: block
            letter-spacing: ps_ls(20)

    .user-settings
        .panel__title
            margin-bottom: 25px

        .form-group
            margin: 0
            max-width: 340px

        .form-body__input
            margin-bottom: 20px

        input[type="submit"]
            margin-top: 20px

        &__link
            display: inline-block
            margin-top: 15px
            font-family: $fOpenRegular
