div.chatbar
    div.chatbar__section
        a.add-btn(@click.prevent="toggleForm") Chatrooms
        div.chatrooms
            form.inline-form(@submit.prevent="addChatroom" v-show="showForm" transition="fadeFromTop")
                div
                    input(type="text" v-model="newChatroom" v-focus="showForm" class="inline-form__textfield" placeholder="New chatroom...")
                    input.inline-form__submit(type="submit" value="Submit")
                    a(@click.prevent="toggleForm" class="inline-form__close")
            a.chatroom(
                href="#" 
                v-for="chatroom in chatrooms | orderBy 'name'" 
                class="{{ selectedChatroom.uuid == chatroom.uuid ? 'chatroom--active' : '' }}"
                @click.prevent="changeChatroom(chatroom)"
            ) {{ '#' + chatroom.name }} 
                span.chatroom__unreadCount(v-if="chatroom.unreadCount") {{ chatroom.unreadCount }}
        
    div.chatbar__section
        p.chatbar__section__title Users
        div.chat-users
            div.chat-user(v-for="user in users | orderBy 'username' ")
                img.account__picture(v-bind:src="user.avatar")
                a.user__name {{ user.username }}
            

    div.chatbar__section
        p.chatbar__scrolltip(v-if="scrollTip") Scroll to see new messages
