div.chatbar
    div.chatbar__section
        a.add-btn(href="#") +
        p.chatbar__section__title Chatrooms
        div.chatrooms
            a.chatroom.chatroom__active(href="#") #General        
            a.chatroom(href="#") #UI
            a.chatroom(href="#") #Front-end
        
    div.chatbar__section
        p.chatbar__section__title Users
        div.chat-users
            div.chat-user
                img.account__picture(src="../img/user1.png")
                a.user__name(href="#") Adrien
            div.chat-user
                img.account__picture(src="../img/user1.png")
                a.user__name(href="#") Bender
            div.chat-user
                img.account__picture(src="../img/user1.png")
                a.user__name(href="#") Fry
            div.chat-user
                img.account__picture(src="../img/user1.png")
                a.user__name(href="#") Leela
            div.chat-user
                img.account__picture(src="../img/user1.png")
                a.user__name(href="#") Zoidberg

    div.chatbar__section
        p.chatbar__scrolltip(v-if="scrollTip") Scroll to see new messages
