div.navbar(v-if="shownavbar")
    div.team
        p Team name
    div.links
        a(href="teammembers.html") Members
        a(href="teamprojects.html") Projects
    div.account
        p.account__name Adrien Leloup
        img.account__picture(src="../img/user1.png", alt="", width="20", height="20")
