div.sidebar
    a.sidebar__item(href="projectdashboard.html") 
        i.dashboard-icon.sidebar__icon
        | Dashboard
    a.sidebar__item(href="projecttasks.html") 
        i.tasks-icon.sidebar__icon
        | Tasks
    a.sidebar__item(href="projectmockups.html") 
        i.mockups-icon.sidebar__icon
        | Mockups
    a.sidebar__item(href="projectchat.html") 
        i.chat-icon.sidebar__icon
        | Chat
