.chatbar
    background-color: rgb(27, 38, 46)
    color: #fff
    padding: 25px

.chatbar__section
    margin-bottom: 35px
    position: relative

.chatbar__section__title
    font-size: 14px
    margin-bottom: 10px

.chatbar__section__btn
    display: inline-block
    background-color: $blue
    padding: 5px 10px
    border-radius: 5px
    position: absolute
    top: -7px
    right: 0

.chat-user
    margin-bottom: 3px

.chat-user .user__name
    display: inline-block
    margin-left: 10px
