.form

    legend
        margin-top: 10px
        margin-bottom: 20px
        font-size: 18px

    label
        display: inline-block
        margin-bottom: 7px
        font-size: 14px
        color: $cLightBlue2
        text-transform: uppercase
        font-size: s($s1)
        letter-spacing: ps_ls(80)

    input[type="text"],
    input[type="email"],
    input[type="submit"],
    input[type="password"],
    input[type="submit"],
    .submit-btn
        border-radius: 3px
        display: block
        border: none
        width: 100%
        padding: 11px
        font-size: 12px
        font-family: $fOpenRegular
        letter-spacing: ps_ls(20)
        margin-bottom: 30px
        background-color: $cDarkBlue
        color: $cLightBlue2

    .submit-btn
        text-decoration: none
        margin-top: 35px
        background-color: $cOrange
        text-align: center
        color: $cWhite
        padding: 12px 0 14px
        font-size: 14px

    a
        text-align: center
