.mockup-item
    background-color: #fff
    border-radius: 5px
    width: 29%
    position: relative
    height: 232px
    overflow: hidden
    margin-bottom: 25px

.thumbnail-container
    height: 185px
    overflow: hidden
    width: 100%
    position: absolute
    top: 0

.mockup-item__thumbnail
    width: 100%

.mockup-item__comment-count
    position: absolute
    top: 10px
    right: 10px
    background-color: $cOrange
    color: #fff
    border-radius: 5px
    padding: 5px 10px
    font-size: 14px

.mockup-item__title
    position: absolute
    bottom: 10px
    left: 15px
    color: $cDarkBlue
