.navbar
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 60px
    background-color: $cBlack
    text-transform: uppercase
    color: $cWhite
    font-size: s($s1)
    z-index: 999999999

.team,
.links,
.account
    position: absolute
    top: 50%
    transform: translateY(-65%)
    letter-spacing: ps_ls(120)

.team
    left: 25px

    &__separator
        vertical-align: middle
        display: inline-block
        margin: 0 s(8, $s1)
        width: s(5, $s1)
        height: s(8, $s1)
        background-repeat: no-repeat
        background-position: center center
        background-image: url('../img/right-arrow.svg')
        background-size: 100%

    &__project
        color: $cLightBlue

.links
    left: 280px

    a
        display: inline
        padding: 15px
        font-size: inherit
        color: $cWhite

.account
    right: 25px

.account__name
    display: inline
    font-size: 12px
    margin-right: 10px

.account__picture
    width: 20px
    height: 20px
    border-radius: 5px
    vertical-align: text-top
