.task-items__section__title
    text-align: left
    font-weight: 500
    margin-bottom: 15px
    display: inline
    text-transform: uppercase
    color: $cDarkBlue
    font-size: s($s1)
    letter-spacing: ps_ls(80)

.task-item
    background-color: #fff
    border-radius: 3px
    padding: 20px
    margin: 30px 0
    position: relative
    box-shadow: 0 10px 20px rgba( 0, 0, 0, .1 )
    font-family: $fOpenSemiBold
    font-size: s($s2)

    &:after
        position: absolute
        bottom: 5px
        right: 5px
        content: ''
        display: block
        background: url('../img/gripper.svg') no-repeat center center
        width: 8px
        height: 8px

    &__name
        margin-bottom: 3px

    &__deadline
        font-family: $fOpenRegular
        color: $cGray

.task-item__edit
    display: inline-block
    background: url( "../img/cog.svg" ) no-repeat center center
    position: absolute
    bottom: 5px
    left: 10px
    width: 16px
    height: 16px
    cursor: pointer

.task-item__delete
    display: inline-block
    background: url( "../img/trash.svg" ) no-repeat center center
    position: absolute
    bottom: 5px
    left: 30px
    width: 16px
    height: 16px
    cursor: pointer
    // opacity: .4

.task-item__assigned-to
    position: absolute
    bottom: 10px
    right: 10px

    .account__picture
        margin: 0 2px

.add-task-btn
    width: s(20, 12)
    height: s(20, 12)
    background-color: $orange
    display: inline-block
    color: #fff
    border-radius: s(3, 12)
    margin-right: s(10, 12)
    text-align: center
    line-height: s(15, 12)
    cursor: pointer
