#view-jointeam
    height: 100vh
    
    .content
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center

    form
        display: inline-block
        margin: 30px 80px

    .pending
        margin-top: 30px
        text-align: center
