#view-projectmockups
    .container
        margin-left: 80px
        margin-top: 60px
        padding: 25px
        position: relative

    .mockup-items
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        padding-top: 15px
