#view-projecttasks
    background: linear-gradient($cLightBlueGradient)

    &.container
        margin-top: 60px
        padding: 40px
        position: relative


    .task-items__section
        position: relative
        width: 28%
        height: 100%

    .task-items
        display: flex
        justify-content: space-between
        align-items: stretch
        height: 74vh

    #todo-column__items,
    #progress-column__items,
    #finished-column__items
        position: absolute
        top: 50px
        bottom: 0
        left: 0
        right: 0
