#view-projectchat
    &.container
        padding: 25px
        padding-top: 90px
        position: relative
        width: 100%

    .chatbar
        position: fixed
        top: 80px
        bottom: 0
        left: 0
        width: 215px
        // box-shadow: 0px 0px 20px rgba(0,0,0,.2)

    .input-area
        position: fixed
        width: calc(100% - 295px)
        bottom: 70px

    .input-area__textfield
        width: calc(100% - 80px)
        position: absolute
        z-index: 16

    .input-area__submit
        width: 85px
        right: 0
        z-index: 15
        height: 49px
        position: absolute

    .chat__messages
        overflow-y: scroll
        position: absolute
        bottom: 80px
        height: 100%
        right: 0px
        left: 255px

    .chat
        margin-left: 230px
