#view-signup
    .content
        height: 100vh
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center

    form
        margin: auto
        width: 60vw
        max-width: 760px

    #signin-link
        display: block
        margin-top: 25px

    .submit-btn
        width: 50%
        margin: 0 auto
