div.error(v-show="isShowing" transition="slide-right" @mouseenter="isHoveringErrorMessage = true" @mouseleave="isHoveringErrorMessage = false")
    button.error__close(@click="isShowing = false")
    p.error__message {{ message }}
