div.container.setup#view-jointeam
    h1 You need to be part of a team.
    h2 This app is all about teamwork!
    form
        legend Find an exisiting team
        div
            label(for="search_team_name") Team name
            input(type="text" name="search_team_name" id="search_team_name")

            a(href="searchteam.html" class="submit-btn") Search for this team

    form
        legend Create your own team
        div
            label(for="create_team_name") Team name
            input(type="text" name="create_team_name" id="create_team_name")

            a(href="teamprojects.html" class="submit-btn") Create this team

    h3.pending You have 3 pending team requests
