div.container.setup#view-jointeam
    .content
        div
            h1 You need to be part of a team.
            h2 This app is all about teamwork!
            form.form(@submit.prevent="findTeam")
                fieldset.form-body
                    div.form-group
                        label.form-body__label(for="search_team_name") Find an exisiting team
                        input.form-body__input(type="text" name="search_team_name" id="search_team_name" v-model="teamToFind.name")

                        input(type="submit" class="submit-btn" value="Search for this team")

            form.form(@submit.prevent="projectPopupIsShowing = true")
                fieldset.form-body
                    div.form-group
                        label.form-body__label(for="create_team_name") Create a team
                        input.form-body__input(type="text" name="create_team_name" id="create_team_name" v-model="teamToCreate.name")

                        input(type="submit" class="submit-btn" value="Create this team")

            div.projectPopup(v-if="projectPopupIsShowing")
                form.form(@submit.prevent="createTeam")
                    h2 
                        | Just one more thing!
                        br
                        | You'll need a project within your team.
                    fieldset.form-body
                        div.form-group
                            label.form-body__label(for="name") Project name
                            input.form-body__input(type="text" id="name" v-model="projectToCreate.name")
                            input(type="submit" value="Create team and project")
            div.popup-overlay(v-if="projectPopupIsShowing" @click="projectPopupIsShowing = false")
            
            div.searchPopup(v-show="searchPopupIsShowing")
                h2.searchPopup__title Your search for "{{ teamToFind.name }}" gave these results
                div.teams__items
                    div.teams__item(v-for="result in searchResults")
                        p.teams__item__name {{ result.name }}
                        a.teams__item__button.teams__item__requested(v-if="result.status") {{ result.status }}
                        a.teams__item__button(@click.prevent="joinTeam(result)" v-else) Join this team
            div.popup-overlay(v-show="searchPopupIsShowing" v-on:click="hidePopup('search')")

            a.back-link(v-link="{path: '/signin'}") Back to sign in page
