<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Cosmos
    link(rel="stylesheet", href="../css/pikaday.css")
    link(rel="stylesheet", href="../css/dragula.css")
    link(rel="stylesheet", href="../css/main.css")
    script(src="http://localhost:12345/socket.io/socket.io.js")
    script(src="../js/socket.js")
    
body
    div#app
        div.navbar
            div.team
                span.team__name WhiteCube
                span.team__separator
                span.team__project Kabas
            div.links
                a(href="#" v-link="{path: '/dashboard'}") Dashboard
                a(href="#" v-link="{path: '/tasks'}")
                    img.tasks-icon(src="../img/tasks.svg" width="13" height="15")
                    |Tasks
                a(href="#" v-link="{path: '/mockups'}") UI
                a(href="#" v-link="{path: '/chat'}") Chat
        router-view

    script(src="../js/bundle.js")

    script require('electron-connect').client.create()
    
    
