div
    p {{ deleteid }}
    div.deletePopup
        h2 Are you sure you want to delete this task?
        a#confirmDelete(href="#" v-on:click="confirmDelete") Yes, delete it.
        a#cancelDelete(href="#" v-on:click="hidePopup") No, cancel.
    div.popup-overlay
