div.container.view#view-projectdashboard
    h1.page-title Dashboard - Project Name
    div.task-items
        div.task-items__section
            h2.task-items__section__title Recently added
            div.task-item(v-for="task in tasks | orderBy 'position'" v-if="task.state == 'todo'" data-id="{{ task.id }}")
                p.task-item__name {{ task.title }}
                a.task-item__edit(id="{{ task.id }}" v-on:click="showEditPopup( task )")
                a.task-item__delete(data-id="{{ task.id }}" v-on:click="showDeletePopup( task )")
                date.task-item__deadline {{ task.deadline }}

        div.task-items__section
            h2.task-items__section__title Recently started
            div.task-item(v-for="task in tasks | orderBy 'position'" v-if="task.state == 'inprogress'" data-id="{{ task.id }}")
                p.task-item__name {{ task.title }}
                a.task-item__edit(id="{{ task.id }}" v-on:click="showEditPopup( task )")
                a.task-item__delete(data-id="{{ task.id }}" v-on:click="showDeletePopup( task )")
                date.task-item__deadline {{ task.deadline }}


        div.task-items__section
            h2.task-items__section__title Recently finished
            div.task-item(v-for="task in tasks | orderBy 'position'" v-if="task.state == 'finished'" data-id="{{ task.id }}")
                p.task-item__name {{ task.title }}
                a.task-item__edit(id="{{ task.id }}" v-on:click="showEditPopup( task )")
                a.task-item__delete(data-id="{{ task.id }}" v-on:click="showDeletePopup( task )")
                date.task-item__deadline {{ task.deadline }}

    div.chatroom-items
        h2.chatroom-items__section-title Available chatrooms
        a.chatroom-item(href="projectchat.html") General
        a.chatroom-item(href="projectchat.html") UI
        a.chatroom-item(href="projectchat.html") Front-end
