div.container.view#view-projectmockups(transition="slide")
    a.add-btn(@click.prevent="togglePopup") Mockups
    div.mockup-items(v-if="mockups.length >= 1")
        a.mockup-item.mockup-item__link(v-for="mockup in mockups | caseInsensitiveOrderBy 'title'" v-link="{path: '/mockups/' + mockup.uuid}")
            div.thumbnail-container
                img.mockup-item__thumbnail(v-bind:src="mockup.src")
            span.mockup-item__title {{ mockup.title }}
            p.mockup-item__comment-count {{ mockup.commentCount }} comment{{ mockup.commentCount != 1 ? "s" : "" }}
    div.mockup__cta(v-else)
        p.mockup__cta__text Looks like there are no mockups yet!
        p.mockup__cta__text Click this button to add one.
            
    div.popup-overlay(v-show="popupIsShowing" @click="togglePopup")
    div.popup(v-show="popupIsShowing")
        form(@submit.prevent="addMockup")
            fieldset.form-body.form-body--nosidebar
                h2.popup-title Add mockup
                button.close-popup(@click.prevent="togglePopup")
                div.form-ground
                    label.form-body__label(for="name") Name
                    input.form-body__input(type="text" id="name" name="name" v-model="newMockup.name")
                div.form-group
                    label.form-body__label(for="image") Image
                    input.form-body__input(type="file" id="image" name="image" @change="detectFile")
                div.form-group.submit-container
                    input.task-submit.submit-btn(type="submit" value="Add mockup")
