div.container#view-projectmockup
    h1.page-title Homepage Mockup - Project Name
    p.header-info Click anywhere on the image to leave a comment.
    div.mockup
        img.mockup__image(src="")
        
