div.container.animated.view#view-projectchat
    include ./includes/chatbar.jade

    div.chat
        div.chat__messages
            div.chat__message(v-for="message in messages | orderBy 'createdAt'" v-scrolldown transition="fadeSlideUp")
                p.chat__message__user(v-if="message.user") {{ message.user.username }}
                p.chat__message__user(v-else) User not found
                div.chat__message__body
                    div.chat__message__avatar-container
                        img.chat__message__avatar(v-bind:src="findUserSrc(message.user)")
                    time.chat__message__time {{ message.createdAt | hour }}
                    p.chat__message__text {{{ message.text | format }}}

        form.input-area( @submit.prevent="sendMessage" )
            input.input-area__textfield(type="text" placeholder="Type your message..." v-model="newMessage" v-focus-auto)
            input.input-area__submit(type="submit" value="Send")
