div.container.view#view-projectmockups
    a.add-btn(href="#") +
    span.header-btn(href="") Mockups
    div.mockup-items
        a.mockup-item.mockup-item__link(v-link="{path: '/mockups/0161e0f0-be49-11e5-a837-0800200c9a66'}")
            div.thumbnail-container
                img.mockup-item__thumbnail(src="../img/mockups/fullsize/nutri-home.png")
            span.mockup-item__title(href="projectmockup.html") Homepage
            p.mockup-item__comment-count 6 comments
            
        a.mockup-item.mockup-item__link(v-link="{path: '/mockups/0161e0f0-be49-11e5-a837-0800200c9a66'}")
            div.thumbnail-container
                img.mockup-item__thumbnail(src="../img/mockups/fullsize/nutri-home.png")
            span.mockup-item__title(href="projectmockup.html") Homepage
            p.mockup-item__comment-count 6 comments

        a.mockup-item.mockup-item__link(v-link="{path: '/mockups/0161e0f0-be49-11e5-a837-0800200c9a66'}")
            div.thumbnail-container
                img.mockup-item__thumbnail(src="../img/mockups/fullsize/nutri-home.png")
            span.mockup-item__title(href="projectmockup.html") Homepage
            p.mockup-item__comment-count 6 comments
    
        a.mockup-item.mockup-item__link(v-link="{path: '/mockups/0161e0f0-be49-11e5-a837-0800200c9a66'}")
            div.thumbnail-container
                img.mockup-item__thumbnail(src="../img/mockups/fullsize/nutri-home.png")
            span.mockup-item__title(href="projectmockup.html") Homepage
            p.mockup-item__comment-count 6 comments
    
