div.container.view#view-settings(transition="slide")
    div.content
        form.form
            fieldset.form-body
                label Theme
                br
                input#theme-light.form-body__input(type="radio" value="light" @change="changeTheme" v-model="theme.name")
                label.form-body__label(for="theme-light") Light
                input#theme-dark.form-body__input(type="radio" value="dark" @change="changeTheme" v-model="theme.name")
                label.form-body__label(for="theme-dark") Dark
                input.form-body__input(type="checkbox" id="hasSchedule" name="hasSchedule" v-model="theme.hasSchedule" @change="toggleSchedule")
                label.form-body__label(for="hasSchedule") Switch automatically (Light starts at 8am and dark starts at 8pm)
