div.container.animated.view#view-teams
    div.content
        
        div.forms
            div.create
                form.form(@submit.prevent="createTeam")
                    fieldset.form-body
                        div.form-group
                            label.form-body__label(for="createname") Create a new team
                            input.form-body__input(type="text" id="createname" v-model="teamToCreate.name")
                        div.form-group
                            input.submit-btn(type="submit" value="Create this team")
                        
            div.find
                form.form(@submit.prevent="findTeam")
                    fieldset.form-body
                        div.form-group
                            label.form-body__label(for="findname") Find an existing team
                            input.form-body__input(type="text" id="findname" v-model="teamToFind.name")
                        div.form-group
                            input.submit-btn(type="submit" value="Search for this team")
                    
        div.teams__list
            h2.teams__list__title My teams
            div.teams__items
                div.teams__item(v-for="team in teams | orderBy 'name' ")
                    p.teams__item__name {{ team.name }}
                    a.teams__item__requests(v-if="team.requests.length >= 1" @click="team.showRequests = !team.showRequests") {{ team.requests.length }} {{ team.requests.length == 1 ? 'request' : 'requests' }}
                    div.requests-popup(v-if="team.showRequests")
                        p.requests-popup__item(v-for="request in team.requests") {{ request.username }} ({{ request.firstname }} {{request.lastname}})
                            a.requests-popup__accept(@click="acceptRequest(team, request)") Accept
                    div.popup-overlay(v-if="team.showRequests" @click="team.showRequests = !team.showRequests")
                    a.teams__item__button(@click.prevent="showLeavePopup(team)") Leave this team
                
        div.leavePopup(v-show="leavePopupIsShowing")
            h2.leavePopup__title Are you sure you want to leave this team?
            h3.leavePopup__subtitle {{ leaveTeam.name }}
            a#confirmDelete(@click.prevent="confirmLeave") Yes, I want to leave.
            a#cancelDelete(@click.prevent="hidePopup('leave')") No, cancel.
        div.popup-overlay(v-show="leavePopupIsShowing" v-on:click="hidePopup('leave')")

        div.searchPopup(v-show="searchPopupIsShowing")
            h2.searchPopup__title Your search for "{{ teamToFind.name }}" gave these results
            div.teams__items
                div.teams__item(v-for="result in searchResults")
                    p.teams__item__name {{ result.name }}
                    a.teams__item__button.teams__item__requested(v-if="result.status") {{ result.status }}
                    a.teams__item__button(@click.prevent="joinTeam(result)" v-else) Join this team
        div.popup-overlay(v-show="searchPopupIsShowing" v-on:click="hidePopup('search')")
