<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Connect
    link(rel="stylesheet", href="../css/teamprojects.css")
body.app
    include ./includes/navbar.jade
    
    div.container
        h1.page-title Projects
        a.header-btn(href="") New project
        div.project-items
            div.project-item
                div.leftside
                    a(href="projectdashboard.html").project-item__name Project name
                    date.project-item__date Created July 17th, 2015
                div.rightside
                    p.project-item__deadline Deadline August 15th, 2015
                
            div.project-item
                div.leftside
                    a(href="projectdashboard.html").project-item__name Project name
                    date.project-item__date Created July 17th, 2015
                div.rightside
                    p.project-item__deadline Deadline August 15th, 2015
                
            div.project-item
                div.leftside
                    a(href="projectdashboard.html").project-item__name Project name
                    date.project-item__date Created July 17th, 2015
                div.rightside
                    p.project-item__deadline Deadline August 15th, 2015
                
            div.project-item
                div.leftside
                    a(href="projectdashboard.html").project-item__name Project name
                    date.project-item__date Created July 17th, 2015
                div.rightside
                    p.project-item__deadline Deadline August 15th, 2015
                
            div.project-item
                div.leftside
                    a(href="projectdashboard.html").project-item__name Project name
                    date.project-item__date Created July 17th, 2015
                div.rightside
                    p.project-item__deadline Deadline August 15th, 2015
                
            div.project-item
                div.leftside
                    a(href="projectdashboard.html").project-item__name Project name
                    date.project-item__date Created July 17th, 2015
                div.rightside
                    p.project-item__deadline Deadline August 15th, 2015
        
    script require('electron-connect').client.create()
