$transition: 400ms

*
    transition: color $transition $ease-out-quad, background-color $transition $ease-out-quad, border-color $transition $ease-out-quad


@keyframes fadein
    from
        opacity: 0
        transform: translateY(-10px)
    to
        opacity: 1
        transform: translateY(0)

.slide-transition
    transition: opacity 150ms $ease-out-quad, transform 150ms $ease-out-quad
    animation: fadein 150ms 150ms

.slide-enter, .slide-leave
    opacity: 0

.slide-leave
    transform: translateY(10px)

.fade-transition
    transition: opacity 150ms $ease-out-quad

.fade-enter, .fade-leave
    opacity: 0


.fadeSlideUp-transition
    transition: all .13s ease-out
    opacity: 1

.fadeSlideUp-enter, .fadeSlideUp-leave
    opacity: 0
    transform: translateX(-10%)

.fadeSlideUp-leave
    transition: none

.fadeFromTop-transition
    transition: all .2s $bounce
    opacity: 1

.fadeFromTop-enter, .fadeFromTop-leave
    opacity: 0
    transform: translateY(-60%)

.fadeFromTop2-transition
    transition: all .2s $bounce
    opacity: 1

.fadeFromTop2-enter, .fadeFromTop2-leave
    opacity: 0
    transform: translateY(-50px)

.fade-transition
    transition: opacity .2s ease-in-out
    opacity: 1

.fade-enter, .fade-leave
    opacity: 0

.login-transition
    transform: translateY(0)
    transition: transform .3s $ease-out-quad

.login-leave
    .content:before,
    .content::after
        transform: translateY(300px)

.scale-transition
    transition: opacity .3s, transform .5s $ease-out-quad
    opacity: 1

.scale-enter, .scale-leave
    opacity: 0
    transform: scale(1.1)


.slide-left-transition
    transition: transform .3s $ease-out-quad, opacity .3s
    max-height: 500px
    opacity: 1

.slide-left-enter, .slide-left-leave
    opacity: 0
    transform: translateX(-20px)

.slide-right-transition
    transition: transform .3s $ease-out-quad, opacity .3s
    max-height: 500px
    opacity: 1

.slide-right-enter, .slide-right-leave
    opacity: 0
    transform: translateX(20px)

.slide-down-transition
    transition: transform .3s $ease-out-quad, opacity .3s
    opacity: 1

.slide-down-enter, .slide-down-leave
    opacity: 0
    transform: translateY(-20px)
