@import "fonts"

$cBlack: #0b0c0d
$cGray: #9fa0a3
$cLightBlue: #c4ccd0
$cWhite: #fff
$cOrange: #e35f45
$cBlue: #7f97a4

$cDarkBlue: #191e22



$blue: #28373C
$orange: #E75F3E
$beige: #DFE0D6
$lightGreen: #C6CBB7
$green: #7E9082
$brightGreen: #7ED321


$cLightBlueGradient: #e2e7ea, #d2dce2

// Sizes

$s1: 11
$s2: 13
